{% extends "base.jinja2" %} {% block content %}
<div class="content">
  <h1>
    <span class="smaller">Welcome to the Siyavula Education App</span>
  </h1>
  <div>
    <b-alert :show="show" :variant='message.color'>[[ message.text ]]</b-alert>
    <b-form @submit.prevent="onSubmitPost">
      <b-form-group id="input-group-1" label="Title:" label-for="input-1">
        <b-form-input
          id="input-1"
          v-model="form.name"
          required
          placeholder="Add or Search for Item"
        ></b-form-input>
      </b-form-group>
    

      <b-button type="submit" variant="primary">Add Item to List</b-button>
      <b-button type="button"  @click.prevent="onSearch" variant="primary">Search For Item</b-button>

    </b-form>

          <div
        v-for="todo in todo_list"
        :key="todo.id"
        class="row mt-3 border-bottom"
      >
        <div class="col-md-1">
          [[ todo.id ]]
        </div>
        <div class="col-md">
          [[ todo.name ]]
        </div>
        </div>
  </div>
  
</div>
{% endblock content %} {% block script %}
<script src="{{ request.static_path('src:static/api.js') }}"></script>
<script>
  var app = new Vue({
    el: "#app",
    delimiters: ["[[", "]]"],
    data() {
      return {
        message: {
          text: "",
          color: ""
        },
        show: false,
        form: {
          name: "",
        },
        todo_list: "",
      };
    },
    methods: {
      async getApi(evt) {
        api({
          method: "get",
          url: "/api/todo",
        })
          .then((response) => {
            this.todo_list = response.data.todo_list;
          })
          .catch(function (error) {
            console.log(error);
          });
      },
      onSearch(evt) {
        api({
          method: "get",
          url: `/api/todo/${this.form['name']}`,
          data: this.form,
        }).then((response)=>{
          this.show = true;
          this.todo_list = response.data.todo_list;
      })},
      onSubmitPost(evt) {
        api({
          method: "post",
          url: "/api/todo",
          data: this.form,
        })
          .then((response) => {
            this.show = true;
            create_todo = response.data.create_todo;
            error_message = response.data.create_todo.error_message;
            message = `${create_todo.name} Created`;
            if ((error_message!=null) || (error_message!=undefined)) {
              console.log(error_message);
              message = error_message;
              this.message.text = message;

              this.message.color = "failed";
            } else {

              this.message.color = "success";
              this.message.text = message;


            }
            this.getApi()
          })
          .catch(function (error) {
            console.log(error);
          });
      },
    },
    created: function () {
      this.getApi();
    },
  });
</script>
{% endblock script %}
